<div class="coaches__card" (click)="handleClick()">
  <img [src]="imgUrl" class="coaches__image" alt="Our coach">

  <div class="coaches__info">
    <span class="coaches__number">{{itemIndex}}</span>
    <h3 class="coaches__subtitle"> {{item.name}} </h3>
    <span>{{item.direction}}</span>
    <ul class="coaches__list">
      <li class="coaches__point"><span class="coaches__point-alpha">Work experience</span> {{item.workExperience}} years</li>
      <li class="coaches__point"><span class="coaches__point-alpha">Teacher for</span> {{item.teachExperience}} years</li>
      <li class="coaches__point" *ngFor="let style of item.style"><span class="coaches__point-alpha">Style</span> {{style}} </li>
    </ul>
    <button class="coaches__button"> Let’s start</button>
  </div>
</div>
