<div class="modal">
  <h1 class="modal_title">Authorization</h1>
<form action="" class="modal_form form-test" [formGroup]="form" (ngSubmit)="submit()">
<div class="modal_controlsContainer">
  <div class="modal_control">
    <input type="email" class="form-input" placeholder="login" formControlName="email" autocomplete="current-email">
  </div>
  <div class="modal_control">
    <input type="password" class="form-input" placeholder="password" formControlName="password"
      autocomplete="current-password">
  </div>
</div>
<div class="modal_btnContainer">
  <button class="btn modal_btn btn-submit" type="submit">Submit</button>
  <button class="btn modal_btn btn-cancel" type="button" mat-button [mat-dialog-close]="true">Cancel</button>
</div>
</form>
</div>