.offers {
  .offers__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 24px;
  }

  .offers__description {
    font-family: Montserrat-Normal;
    max-width: 668px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px;
  }
}